#navbar {
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: -100vw;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }